img {
    width: 200px;
    height: 200px;
}

.hidden {
    display: none;
}

li {    
    list-style-type: none;    
    display: flex;    
    flex-direction: column;    
    justify-content: center;    
    align-items: center;    
    padding: 10px;    
    margin: 10px 50px 10px 50px;    
    border: 2px var(--color6) solid;    
    max-width: 33%;    
    background-color: white;    
    border-radius: 20px;
    overflow: hidden;
}

ul {    
    list-style-type: none;    
    display: flex;    
    flex-direction: row;    
    flex-wrap: wrap;    
    justify-content: center;    
    align-items: center;    
    flex: 0 1 auto;
}

#title {
    margin-left: -180px;
}

h3 {
    text-transform: capitalize;
}

span {
    display: block;
    margin: auto;
    text-align: center;
}

#click-me {
    text-decoration: underline;
}

#jjjk {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}