body {
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

#logo {
    margin-left: 30px;
}

#link {
    margin-right: 30px;
}

#tree {
    align-self: flex-end;
    width: 45px;
    height: 55px;
    margin-right: -7px;
}

#title {
    display: flex;
    flex-direction: row;
    font-size: 45px;
}